$green-light: #bee0b0;
$green-dark: #7eada1;
$violet-light: #c0d6e6;
$violet-dark: #aa99be;
$red-light: #f7c27e;
$red-dark: #e58665;
$yellow-light: #f0e890;
$yellow-dark: #d0c068;
$outline: #505068;

@font-face {
  font-family: "PKMNRSE";
  src: url('../fonts/pkmnrs.ttf') format("truetype");
}

$main-font: "PKMNRSE";

html, body {
  margin: 10px;
  padding: 0;
  height: 100%;
  color: $outline;
  font-family: $main-font;
}

#root {
  height: 100%;
}

.app {
  min-height: 100%;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.margin-side {
  margin-left: 5px;
  margin-right: 5px;
}

.center {
  justify-content: center;
}

.hide {
  display: none;
}

main {
  flex-wrap: wrap;
  justify-content: center;
}

button {
  font-family: $main-font;
  background-color: $green-dark;
  border: 0;
  color: white;
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.entry {
  margin: 20px;
  width: 200px;

  header {
    height: 50px;
    display: flex;
    width: 175px;
    padding-right: 20px;
    padding-left: 5px;
    justify-content: space-between;
    align-items: baseline;
    background-color: $green-dark;
  }

  .stats {
    width: 180px;
    padding: 10px;
    background-color: $green-light;
    height: 280px;
  }

  &:nth-child(even) {
    header {
      background-color: $red-dark;
    }

    .stats {
      background-color: $red-light;

      button {
        background-color: $red-dark;
      }
    }
  }
}